@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* color-scheme: dark; */
    --color-amber: #f59e0b;
    --color-green: #15803d;
    --color-red: #dc2626;
    --color-dark: #000000;
    --color-white: #ffffff;
  }
  body {
    @apply dark:bg-gray-800 bg-white;
  }
  .cat-actions svg {
    display: inline-block;
  }
}
