@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* color-scheme: dark; */
    --color-amber: #f59e0b;
    --color-green: #15803d;
    --color-red: #dc2626;
    --color-dark: #000000;
    --color-white: #ffffff;
  }
  body {
    @apply dark:bg-gray-800 bg-white;
  }
  svg {
    display: inline-block;
  }
  #dropdownCal,
  #dropdownUser {
    top: 3em;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
