.rbc-event,
.rbc-day-slot .rbc-background-event {
  text-align: center;
  margin: 0 auto;
  width: 20%;
}
.rbc-toolbar {
  flex-direction: row-reverse;
}
.rbc-toolbar .rbc-toolbar-label {
  text-align: center;
  font-size: 1.5em;
}
.rbc-toolbar button {
  color: inherit;
}
.dark {
  .rbc-toolbar button {
    border: 1px solid var(--color-light);
  }
}
.light {
  .rbc-toolbar button {
    border: 1px solid;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    background-color: var(--color-light);
  }
}
.date-container {
  [disabled].line-through {
    text-decoration-line: none;
    opacity: 0.2;
    cursor: not-allowed;
  }
}
svg.md\:block {
  display: inline-block;
}
.dark {
  .react-time-picker__button svg {
    stroke: #fff;
  }
}
.timeslot-row {
  .react-time-picker {
    display: flex;
  }
  .react-time-picker__wrapper {
    border: none;
    padding: 0.3rem;
    .react-time-picker__inputGroup {
      font-size: 0.9rem;
    }
  }
  .select-text > div > p {
    font-size: 0.875rem;
  }
  .opt-div > div {
    padding: 0;
  }
}
