.rbc-event,
.rbc-day-slot .rbc-background-event {
  text-align: center;
  margin: 0 auto;
  width: 20%;
}
.rbc-toolbar {
  flex-direction: row-reverse;
}
.rbc-toolbar .rbc-toolbar-label {
  text-align: center;
  font-size: 1.5em;
}
.rbc-toolbar button {
  color: inherit;
}
.dark {
  .rbc-toolbar button {
    border: 1px solid rgb(245 245 244);
    color: rgb(245 245 244);
  }
  .rbc-off-range-bg {
    background: #414448cf;
  }
}
.light {
  .rbc-toolbar button {
    border: 1px solid;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    background-color: var(--color-light);
  }
}
.date-container {
  [disabled].line-through {
    text-decoration-line: none;
    opacity: 0.2;
    cursor: not-allowed;
  }
}
svg.md\:block {
  display: inline-block;
}
.opt-div {
  background-color: #fff;
}
.dark {
  .react-time-picker__button svg {
    stroke: #fff;
  }
  .opt-div {
    background-color: rgb(31 41 55);
  }
  .rbc-today {
    background-color: rgb(29 78 216);
  }
}
.timeslot-row {
  .react-time-picker {
    display: flex;
  }
  .react-time-picker__wrapper {
    border: none;
    padding: 0.3rem;
    .react-time-picker__inputGroup {
      font-size: 0.9rem;
    }
  }
  .select-text > div > p {
    font-size: 0.875rem;
  }
  .opt-div > div {
    padding: 0;
  }
}
.rbc-button-link {
  font-size: 1.3em;
}
@media (min-width: 768px) {
  .summary-container {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
  }
  .ml-summary {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
  }
}
.rcs-analog-time-picker-form-container {
  margin-top: 20px;
}
input[name="rcs-time-seconds"] {
  display: none;
}
.rcs-show-picker-modal {
  width: 200px;
}
.rcs-analog-picker.rcs-show-picker-modal.rcs-analog-picker-custom {
  position: absolute;
}

.rcs-analog-picker-input-custom {
  max-width: 24rem;
}
